.form__input-error {
  font-size: 12px;
  line-height: 15px;
  display: block;
  color: whitesmoke;
  margin: 0;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: 300px;
}

@media screen and (max-width: 900px) {
  .form__input-error {
    width: 160px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}