.form__container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .3);
}

@media screen and (max-width: 900px) {
  .form__container {
    height: calc(100% - 180px * 2);
    padding: 180px 0;
    flex-direction: column;
  }
}

@media screen and (min-width: 900px) and (max-width: 1023px) {
  .form__container {
    height: calc(100% - 160px * 2);
    padding: 160px 0;
    flex-direction: column;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .form__container {
    width: 90%;
    padding: 0 5%;
  }
}

@media screen and (min-width: 1280px) {
  .form__container {
    width: 80%;
    padding: 0 10%;
  }
}